<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 인터넷 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NudaClient"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".presentation.product.ProductRankingActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.search.SearchProductActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.product.ProductDetailActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.mypage.activity.MypageMyReviewActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.mypage.activity.MypageManageKeywordActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentation.mypage.activity.MypageEditDeliveryActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentation.mypage.activity.MypageEditAccountActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentation.common.activity.NavigationActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.search.SearchProductResultActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.signup.AddressSearchActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.signup.SignupSurveyActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.signup.SignupDeliveryActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentation.signup.SignupAccountActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentation.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.common.activity.MainActivity"
            android:exported="false" />
    </application>

</manifest>